<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814377801839-8d28rpvn133hl35uo829n9i6e91a67it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814377801839-8d28rpvn133hl35uo829n9i6e91a67it</string>
	<key>API_KEY</key>
	<string>AIzaSyCcgz5On8yE5qwpLV1HM4j3cB9DStmxVtc</string>
	<key>GCM_SENDER_ID</key>
	<string>814377801839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appNew</string>
	<key>PROJECT_ID</key>
	<string>appnew-1234</string>
	<key>STORAGE_BUCKET</key>
	<string>appnew-1234.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814377801839:ios:5f7b1d59309f078fdb559a</string>
</dict>
</plist>